*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    color: white;
}

.navbar{
    height: 60px;
    background-color: #390099;
    display: flex;
    align-items: center;
}

.logo{
    height: 50px;
    width: 150px;
    background-image: url(logo.png);
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.location{
    height: 50px;
    align-items: center;
    display: flex;
    gap: 5px;
}

.nor{
    font-size: 12px;
}

.bold{
    font-size: 14px;
}