*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #331832;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:white;
}

.logo{
    height: 50px;
    width: 150px;
    background-image: url(logo.png);
    background-size: cover;
}

.border{
    height: 50px;
    border: 1.5px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
}

.border:hover{
    border: 1.5px solid white;
}

.location{
    height: 50px;
    align-items: center;
    display: flex;
    gap: 5px;
}

.nor{
    font-size: 12px;
}

.bold{
    font-size: 14px;
}

.nav-select{
    height: 45px;
    width: 600px;
    display: flex;
    align-items: center;
    background-color: #F0544F;
    border: none;
    border-radius: 3px;
    justify-content: space-evenly;
}

select > option{
    color:black
}

.nav-select:hover{
    border: 3px solid rgb(231, 47, 40);
}

select{
    color: black;
    background-color: rgb(161, 163, 163);
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 50px;
    height: 45px;
    font-size: 1rem;
    padding-left: 3px;
}

select:hover{
    background-color: rgb(140, 141, 141);
}
.nav-input{
    color: black;
    border: none;
    width: 100%;
    height: 43px;
    font-size: 1rem;
}

.zoom-icon{
    width: 45px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: black;
}

.zoom-icon:hover{
    background-color: rgb(231, 47, 40);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sign-in{
    display: flex;
    align-items: center;
}

.return{
    display: flex;
    align-items: center;
}

.nav-card i{
    font-size: 2rem;
}

.nav-card{
    display: flex;
    align-items:center;
    gap: 3px;
}

.panel{
    height: 40px;
    background-color: #741a6f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.menu{
    font-size: 1.1rem;
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 0.1px;
}
.menu-icon{
    font-size: 1.5rem;
}

.p-border{
    height: 35px;
    border: 1.5px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
}

.p-border:hover{
    border: 1.5px solid white;
}

.panel-all{
    display: flex;
    gap: 20px;
    font-weight: bold;
    width: 70%;
}

.panel-all > p{
    display: flex;
    align-items: center;
}

.panel-deals{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.hero-section{
    background-image: url(fashion.jpg);
    background-size: cover;
    height: 250px;
}

.shopping{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ffe972;
    color:black;
}

.box{
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-bottom: 15px;
}

.box-i {
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
    /* color:black;; */
}

.box-content p{
    color: rgb(38, 38, 235);
}



/* dark mode */


.dark_back{
    background-color: #353533;
}
.dark_box{
    background-color: #1b1b1b;
    color: white;
}
.mode:hover{
    transition: all 0.2s ease-in 0s;
    font-size: 1.1rem;
    color: #5b9e53;
}
.mode:active{
    transition: all 0s ease-in 0s;
    font-size: 1rem;
    color: #1b1b1b;
}

.back{
    height: 50px;
    background-color: #642962;;
    align-items: center;
    display: flex;
    justify-content: center;
}

.back a{
    text-decoration: none;
    color: white;
}

.back:hover{
    background-color: #741a6f;
}
.foot-panel{
    height: 300px;
    background-color:#331832;
    padding-top: 30px;
}
.get-to-know{
    display: flex;
    justify-content: space-around;
    color: white;
    line-height: 1.5rem;
    padding-bottom: 30px;
}

.get-to-know hr{
    display: flex;
    flex-direction: column;
}

.foot-log{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    gap: 200px;
}